@import url('https://fonts.googleapis.com/css2?family=Radley&display=swap');

body {
    font-family: 'Radley', serif;
    background-color: #fff;
    color: #4A2C2C;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2.2em;
    padding-top: 0.5em;
    font-weight: normal; 
}

header p {
    font-size: 1.2em; 
    padding: 50px; 
}

main {
    background-color: #e6e6e6; 
    text-align: center;
    height: 25em;
}

h2 {
    font-size: 1.7em;
    padding: 2em; 
    padding-top: 3em;
    font-weight: normal; 
}

.line {
    height: 1px;;
    border-bottom: 1px solid #4A2C2C;
}

.address {
    font-size: 1.1em; 
    line-height: 1.4;
}

a {
    text-decoration: none;
    color: #4A2C2C;
}

.insta {
    background-color: #fff; 
    height: 5em;
}

img {
    max-width: 150px; 
    height: 2em; 
    margin: 20px auto; 
    margin-top: 50px;
    display: block; 
}
